@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473691624_6431117.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473691624_6431117.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473691624_6431117.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473691624_6431117.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473691624_6431117.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiaoxi:before { content: "\e602"; }
.icon-shezhi:before { content: "\e603"; }
.icon-tuichu:before { content: "\e601"; }
.icon-gentie:before { content: "\e604"; }
.icon-haoyou:before { content: "\e605"; }
.icon-xin:before { content: "\e60c"; }
.icon-wenzhang:before { content: "\e606"; }
.icon-tiezi:before { content: "\e607"; }

.icon-bianji:before { content: "\e608"; }
.icon-pingbi:before { content: "\e60e"; }
.icon-pinfen:before { content: "\e60a"; }
.icon-yinyong:before { content: "\e609"; }
.icon-huifu:before { content: "\e60b"; }
.icon-jubao:before { content: "\e60d"; }
.icon-guanzhu:before { content: "\e600"; }

.icon-daoju:before { content: "\e612"; }
.icon-liuyan:before { content: "\e614"; }
.icon-jifen:before { content: "\e613"; }
.icon-pinglun:before { content: "\e610"; }
.icon-collect:before { content: "\e60f"; }
.icon-daojujilu:before { content: "\e611"; }