<!DOCTYPE html>

<head>
  <script src="vue.3.2.37.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="firstname">
    <input type="text" v-model="lastname">
    <div>{{getFullname()}}</div>
  </div>
  <!-- 
  computed() 监听 变量改变时 计算 新的结果 
  返回值 是只读
  表达式可用函数(小程序只能用wxs)
 -->

</body>
<script>
  const { createApp, ref, reactive, watch, computed } = Vue
  const app = {
    setup() {
      // 入口函数
      const firstname = ref('')
      const lastname = ref('')

      function getFullname() {
        return firstname.value + lastname.value
      }
      return {
        firstname, lastname, getFullname
      }
    }
  }
  createApp(app).mount('#app')
</script>

</html>