config=c:\zx\npm
registry=https://registry.npmmirror.com/
prefix=c:\zx\pnpm\bin
cache=c:\zx\npm\cache
# pnpm 
store-dir=c:\zx\pnpm\store
cache-dir=c:\zx\pnpm\cache
state-dir=c:\zx\pnpm\state
# yarn 
global-folder=c:\zx\yarn\global
cache-folder="c:\\zx\\yarn\\cache"
# 
# yarn 以 .npmrc 里 prefix 加 bin 为自己的 第二优先项； .yarnrc 里 prefix 加 bin 为第一
# yarn config set global-folder "c:\zx\yarn\global" node_moudels 目录在此
# 