.pagenavigate {
	border: 1px solid #036cb4;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 0 2px;
	display:inline-block;
}

.pagenext, .pagepre {
	border: 1px solid #036cb4;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 0 1px;
	display:inline-block;
}

.pagenavigate a {
	width: 20px;
	height: 20px;
	text-decoration: none;
	display:inline-block;
}

.pagenext a, .pagepre a {
	width: 40px;
	height: 20px;
	font-size: 12px;
	display:inline-block;
}

.pagenavigateon {
	border: 1px solid #036cb4;
	background:#036cb4;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.pagenavigateon a {
	color: #ffffff;
	text-decoration: none;
}

#navigatediv {
	height: 30px;margin-top:10px;padding-left:15px;text-align:center;
}
.contentlist{padding-top:15px;border-bottom:1px solid #eee;}